body {
	background-color: #eee;
}

.search {
	margin-right: 20px;
}

.spinner {
	display: none;
	color: white;
	padding-right: 10px;
}

#results-area {
	display: none;
	border: 1px solid #444;
	border-radius: 8px;
	padding: 5px;
}

#results-summary {
	font-size: 20px;
	padding: 5px 5px 0px;
}

#results{
	display: table;
	width: 100%;
}

.page {
	margin: 60px 20px 20px;
}

.item-outer {
	height: 200px;
	overflow-y: hidden;
	margin: 5px -10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
}

.item div {
	padding: 2px 15px;
	overflow-x: hidden;
}

.item:first-child {
	padding-top: 6px;
}

.item:last-child {
	padding-bottom: 6px;
}

.title {
	border-bottom: 1px solid #ccc;
}

.name {
	font-size: 120%;
	font-weight: 700;
}

label {
	margin-bottom: 0px;
}

div.help {
	padding: 10px 15px;
}

.summary {
	color: #666;
	float: right;
}

.methods {
	font-family: monospace;
	font-size: 13px;
}

.methods p {
	margin-bottom: 2px;
	color: #666;
}

.modname {
	color: #666;
	font-weight: 700;
}